body {
    background: #fff !important;
    font-family: "Urbanist", sans-serif !important;
}

.alert, .brand, .btn-simple, .h1, .h2, .h3, .h4, .h5, .h6, .navbar, .td-name, a, body, button.close, h1, h2, h3, h4, h5, h6, p, td {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "Urbanist", sans-serif !important;
}
.main-header {
    background:  #fff !important;
}

.navbar .navbar-nav .topbar-user .profile-pic {
    color: #000 !important;
}

.logo-header[data-background-color=dark] {
    background: #fff !important;
}

.sidebar .sidebar-wrapper, .sidebar[data-background-color=white] .sidebar-wrapper {
background: #fff;
}

.sidebar[data-background-color=dark] .nav>.nav-item.active a:focus p, .sidebar[data-background-color=dark] .nav>.nav-item.active a:hover p, .sidebar[data-background-color=dark] .nav>.nav-item.active>a p {
    color: #fff !important;
}
.sidebar
{
    box-shadow: none;
    /* border-right: #fefefe dotted 1px; */
}

.nav .nav-item.active>a {
    /* background: rgb(255 255 255 / 0%); */
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    background: #56C6DD !important;
}

.sidebar .nav.nav-secondary>.nav-item.active a i, .sidebar[data-background-color=white] .nav.nav-secondary>.nav-item.active a i {
    color: #f5f5f5 !important;
}

.sidebar[data-background-color=dark] .nav>.nav-item a {
    color: #6B6B6B !important;
}

.sidebar .nav>.nav-item a p, .sidebar[data-background-color=white] .nav>.nav-item a p {
    font-size: 1rem !important;
    font-weight: 600 !important;
}

.sidebar .nav>.nav-item a i, .sidebar[data-background-color=white] .nav>.nav-item a i {
    color: #6B6B6B;
    font-size: 20px;
    line-height: 30px;
}

.logo-small
{
    width: 80px !important;
}


.logosmall
{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}




.card-secondary {
    background: #213367 !important;
}

.sidebar .nav.nav-secondary>.nav-item.active a:before, .sidebar[data-background-color=white] .nav.nav-secondary>.nav-item.active a:before {
    background: #fff !important;
}

.sidebar[data-background-color=dark] .nav .nav-item.submenu, .sidebar[data-background-color=dark] .nav .nav-item>a:focus, .sidebar[data-background-color=dark] .nav .nav-item>a:hover {
    background: #f5f5f5;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    color: #000 !important;

}

.card .card-body, .card-light .card-body {
    padding: 20px 20px;
    
}

.card1
{
    background: #F58A65 !important;
}

.card2
{
    background: #FCD108 !important;
}

.card3
{
    background:#4664AF !important;
}

.card4
{
    background: #56C7DE !important;
}

.remove
{
    padding-top: 15px !important;
}
.avatar-title
{
    background-color: transparent;
}

.breadcrumbs
{
    padding-left: 0px !important;
    margin-left: 0px !important;
}

.main-panel .page-header
{
    display: block;
    margin-top: 20px;
    margin-bottom: 40px;
}

.breadcrumbs li a {
    color: #2a2f5b;
    font-size: 16px !important;
}

.card-stats .icon-big i.fas {
    font-size: 35px;
}


.card{
    border-radius: 20px !important;
   
}

.page-inner
{
    border-radius: 40px !important;
    background-color: #F5F5F5 !important;
}


.main-panel>.container {
   
    margin-top: 90px;   
    padding: 0  50px!important;
}

.footer {
    border-top: none !important;
   
}


.sidebar .nav, .sidebar[data-background-color=white] .nav {
    margin-left: 20px !important;
}

.sidebar .nav .nav-section .text-section, .sidebar[data-background-color=white] .nav .nav-section .text-section {
   
    color: #000;
}

.btn-blue
{
    color: #fff;
    background-color: #56C6DD;
}
.btn-blue:hover
{
    color: #000;
    background-color: transparent;
    border:2px solid #56C6DD
}


.card .card-action, .card-light .card-action {
   border: none !important;
   margin-bottom: 20px;
}

.btn-p
{
padding: 12.5px 10px !important;
}

.btn-remove
{
    margin-top: 2px !important;
}


.textgrey
{
    font-size: 16px;
    font-weight: 700;
    line-height: 1.6; 
}

.fs16
{
    font-size: 16px;
    color: #4664AE;
}

.card-stats .card-title {
 
    font-size: 30px !important;
}

.greybtn
{
    background-color: #dfdfdf !important;
    border-radius: 10px;
    color: #000;
}

.sidebar .nav.nav-secondary>.nav-item a:hover i, .sidebar .nav.nav-secondary>.nav-item a[data-toggle=collapse][aria-expanded=true] i, .sidebar[data-background-color=white] .nav.nav-secondary>.nav-item a:focus i, .sidebar[data-background-color=white] .nav.nav-secondary>.nav-item a:hover i, .sidebar[data-background-color=white] .nav.nav-secondary>.nav-item a[data-toggle=collapse][aria-expanded=true] i {
    color: #000 !important;
}

.sidebar[data-background-color=dark] .nav>.nav-item a:hover {
    color: #000 !important;
}

.logo-header[data-background-color] .btn-toggle, .logo-header[data-background-color] .more {
    color: #000 !important;

}

.greycircle
{
    color:grey !important;
}

.fs18
{
    font-size: 18px !important;
}

.carouselbox
{
    background-color: #fff;
    padding: 30px !important;
    border-radius: 20px !important;
    margin: 20px !important;

}

.carousel-indicators [data-bs-target]
{
    width: 10px;
    height: 10px;
    background-color: #48abf7;
    border-radius: 50%;
  
}

/* pagination */


.pagination>li>a {
    padding-left: 5px !important;
    padding-right: 5px !important;
}


.pagination>li:first-child>a, .pagination>li:first-child>span, .pagination>li:last-child>a, .pagination>li:last-child>span, .pagination>li>a, .pagination>li>span {
    border-radius: 50% !important;
    color: #4664AE !important;
    border-color: #4664AE !important;
    font-size: 13px;

   
}

.pagination .active a, .pagination .active span {
    height: 20px !important;
    width: 20px !important;
    color: white !important; /* Ensures text is visible on the background */
    border-radius: 50% !important;
  
}

/* Additional styling for active page number */
.pagination .active {
    background-color: rgba(86,198,221,0.5) !important;
    color: white !important; /* Ensures text is visible on the background */
    border-radius: 50% !important;
    margin-right: 5px;
    margin-left: 5px;
}

.pagination .active a:hover, .pagination .active span:hover {
  
    color: white !important; /* Ensures text is visible on the background */

}

.sidebar[data-background-color=dark] .nav>.nav-item a:hover
{
  color: #000 !important;
}

.avatar-sm {
    width: 2.1rem !important;
    height: 2.1rem !important;
}
.profile-pic span {
    font-size: 20px !important;
    color: #6B6B6B !important;
}


/* searchbar */

.search-container .input-group {
    border-radius: 25px !important;
    overflow: hidden !important;
}
.search-container .form-control {
    border-top-left-radius: 25px !important;
    border-bottom-left-radius: 25px !important;
    border:none !important;
}
.search-container .btn {
    border-top-right-radius: 25px !important;
    border-bottom-right-radius: 25px !important;
    border:none !important;
    background: #fff !important;
    
}
.search-container .btn:hover {
  color:#000 !important;
    
}

.inputmargintop
{
    margin-top: 40px;
}
.addressmargintop
{
    margin-top: 20px;
}






/* responsive design */

@media screen and (min-width: 576px)
{
    .logoutbtn
    {
        display: none !important;
    }
    .addbtnres
    {
     display: none !important;
    }
}


@media screen and (max-width: 576px)
{
    .logoutbtn
    {
        display: block !important;
    }

    .main-panel>.container {
      
        padding: 0 15px !important;
    }
    .leads
    {
        padding: 5px 10px !important;
    }
    .reshidden
    {
        display: none !important;
    }
    .addbtndesk
    {
        display: none !important;
    }
    .res_mt
    {
        margin-top: 25px;
    }

    .addressmargintop
{
    margin-top: 10px;
}

.inputmargintop
{
    margin-top: 25px;
}

.carouselbox {
    padding: 30px 0px !important;
    margin: 5px !important;
}
}
